<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <% if (action != "undefined" && action == "edit") { %>
                    <div class="alert alert-success">Blog Güncellendi</div>
                <% } %>
                <% if (action != "undefined" && action == "create") { %>
                    <div class="alert alert-primary">Blog Eklendi</div>
                <% } %>
                <% if (action != "undefined" && action == "delete") { %>
                    <div class="alert alert-danger">Blog Silindi</div>
                <% } %>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50px;">id</th>
                            <th style="width: 130px;">resim</th>
                            <th>baslik</th>
                            <th style="width: 130px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% blogs.forEach(blog => { %>
                            <tr>
                                <td>
                                    <%= blog.blogid %>
                                </td>
                                <td>
                                    <img src="/static/images/<%= blog.img %>" alt="" class="img-fluid">
                                </td>
                                <td>
                                    <%= blog.blogTitle %>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="/admin/blogs/<%= blog.blogid %>">Edit</a>
                                    <a class="btn btn-sm btn-danger" href="/admin/blog/delete/<%= blog.blogid %>">Delete</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
